<!DOCTYPE html>
<html>
<style>
p{
color: red
}
</style>

<body>
{% if echo %}
<h3>Enter data here to have it stored:</h3>
<p>Your entry: {{echo}}</p>
<form action="/entry" method="get">
<input type="text" name="echo"><br>
<input type="submit">
</form>
{% else %}
<h3>Enter data here to have it stored:</h3>
<p>You did not enter any data</p>
<form action="/entry" method="get">
<input type="text" name="echo"><br>
<input type="submit">
</form>
{% endif %}
<form action="/sure" method="get">
    <input type="submit" value="Clear History" id="clear">
</form>
<form action="/table" method="get">
    <input type="submit" value="View Table">
</form>
</body>
</html>